
:root{
    --heading-font: 'Poppins',serif;
    --text-font: 'Playfair Display',sans serif;
}


.container{
    background-color: white;
}

body {
   
    max-width: 75%;
    min-height: auto;
    align-items: center;
    margin: 20px auto;
}
p{
    font-family: var(--text-font);
    font-size: 20px;
}
h2{
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: 70px;
}
h1{
    font-family: var(--heading-font);
    font-size: 94px;
    font-weight: bold;
}

.paragraph{
    font-family: var(--heading-font);
    font-size: 44px;
    font-weight: bold;
}
.img-fluid{
    width: 790px;
    height: 600px;
    
}

.cake{
    width: 300px;
    height: auto;
}

.cupcake-image{
    max-width: 300px;
    height: auto;
}
.navbar {
    background-color: transparent !important;
  }

 .price{
    text-decoration: underline;
    font-family: var(--text-font);
 }
.nav-link  {
    color: red;
}
@media (max-width: 590px) {
      h1{
        font-size: 50px;
      }
      h2{
        font-size: 37px ;
      }
      .paragraph{
        font-size: 30px;
      }
     body{
        max-width: 90%;
     }
     .price{
        font-size: 19px;
     }
      .img-fluid{
        width: 300px;
        height: auto;
        margin-top: 15px;
    }
    .nav-item{
        margin: 0 0;
    }
}